*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-font: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}
