*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-font: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #0f1b4c;
  border-radius: 12px;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.header {
  position: sticky;
  top: -30px;
  padding: 10px 0;
  height: 80px;
  background-color: #e6f0ff;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 20px 24px 0;
  /* background-color: orange; */
}

.nav__list {
  margin-left: 64px;
}

.nav__list-items {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 28px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
}

.nav__logs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 100%;
}

.nav__logs-login {
  padding: 9px 22px;
}

.nav__logs-signup {
  width: 98px;
  height: 40px;
  border-radius: 8px;
}

.hero {
  background-color: #e6f0ff;
  padding-top: 30px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content-sub {
  color: #687690;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
}
.hero__content-title {
  color: #000336;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 1.18;
  margin-top: 8px;
}

.hero__content-desc {
  color: #5a6473;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
  margin: 30px 0 40px 0;
  max-width: 550px;
}

.hero__btn {
  width: 170px;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1;
}

.hero__img-thumb {
  margin-left: -18px;
}

.clients {
  margin-top: 122px;
}

.clients__desc {
  color: #7d8589;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 23px;
}

.clients__items {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.clients__logo {
  display: flex;
  justify-content: space-between;
  margin-top: 0 70px 0 80px;
}

.clients__logo-img {
  height: 90px;
  width: 204px;
  padding: 0px 42px;
  border-radius: 12px;
  object-fit: contain;
}

.clients__logo-img:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.clients__stars-rate {
  color: #7d8589;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
  margin-top: 18px;
}

.guides {
  margin-top: 40px;
  background-color: rgb(190, 190, 190);
}

.guides__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guides__title {
  position: relative;
  color: #000339;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  margin-top: 92px;
}

.guides__title::after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: 50%;
  transform: translateX(50%);
  width: 41px;
  height: 4px;
  background-color: #000339;
  border-radius: 99px;
}

.guides__desc {
  color: #5a6473;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9;
  width: 42%;
  text-align: center;
  margin-top: 20px;
}

.guides__btn {
  font-weight: 500;
  font-size: 1.3rem;
  width: 170px;
}
